matplotlib
numpy
seaborn
tqdm
gymnasium
scipy
standard-imghdr
optuna
optuna-dashboard
gymnasium[atari, accept-rom-license]
ale-py
autorom
gymnasium[other]                            # Imports open-cv which is necessary for Atari ALE/Pong-v5